{% set _TWITTER_SHOW_FOLLOWER_COUNT = TWITTER_SHOW_FOLLOWER_COUNT|default(True)|string|lower %}
{% set _TWITTER_SHOW_REPLIES = TWITTER_SHOW_REPLIES|default(False)|string|lower %}

{% if TWITTER_USER %}
<section>
  {% if TWITTER_WIDGET %}
  <h1>Latest Tweets</h1>
  <ul id="tweets">
    <li class="loading">Status updating...</li>
  </ul>
  <script type="text/javascript">
    $(document).ready(function(){
      var configList = {
          "profile": {"screenName": '{{TWITTER_USER}}'},
          "domId": 'tweets',
          "maxTweets": {{TWITTER_TWEET_COUNT|default(5)}},
          "enableLinks": true,
          "showUser": false,
          "showTime": true,
          "showRetweet": {{_TWITTER_SHOW_REPLIES}},
          "showInteraction": false,
          "showImages": false,
          "lang": 'en'
        };

      twitterFetcher.fetch(configList);
    });
  </script>
  <script src="{{ ROOT_URL }}/theme/js/twitter.js" type="text/javascript"> </script>
  {% endif %}
  {% if TWITTER_FOLLOW_BUTTON %}
    <a href="http://twitter.com/{{ TWITTER_USER }}" class="twitter-follow-button" data-show-count="{{ _TWITTER_SHOW_FOLLOWER_COUNT }}">Follow @{{ TWITTER_USER }}</a>
  {% else %}
    <p>Follow <a href="http://twitter.com/{{ TWITTER_USER }}">@{{ TWITTER_USER }}</a></p>
  {% endif %}
</section>
{% endif %}
